{% extends "config/config-base.html" %}

{% block title %}Create new campaign{% endblock title %}

{% block config_content %}

<div class="grid-x grid-margin-x">
  <div class="cell">
    <h2>New campaign</h2>

    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p() }}
        <p class="form-actions"><button type="submit" class="button">Save</button></p>
    </form>

  </div>
</div>
{% endblock config_content %}
