{% extends "config/config-base.html" %}

{% block title %}{{ campaign.title }} config {% endblock title %}

{% block styles %}    
  <link rel="stylesheet" href="/static/css/widget-test.css">
{% endblock styles %}    

{% block scripts %}    
  <script src="/static/vendor/js/vue-2.5.3.js"></script>
  <script src="/static/vendor/js/vue-resource-1.3.4.js"></script>
  <script src="/static/vendor/js/sortable.min.js"></script>
  <script src="/static/vendor/js/vue-draggable.js"></script>
  <script src="/static/vendor/js/color-hash.js"></script>
  <script>
    // save URLs for later use in widgets
    var getIntroURL = "{% url 'get_intro_template' campaign.name %}";
    var setIntroURL = "{% url 'set_intro_template' campaign.name %}";
  </script>
  <script src="/static/js/widget-intro.js"></script>
  <script src="/static/js/widget-question.js"></script>
{% endblock scripts %}
    
{% block config_content %}

{# <form class="grid-x grid-margin-x"  method="POST" v-on:submit="updateIntroText($event)">{% csrf_token %} #}

<div class="grid-x grid-margin-x">
  <div class="cell">
    <h2>Edit introduction</h2>

    <div class="config-intro">
      <p class="lead">Here you can specify an introductory set of messages to briefly explain your campaign. This is the first thing they will see once they follow your public link, so consider thanking them in advance for their contribution and briefly explain the campaign’s purpose.</p>
      <p>There is no need to do any in-depth explanation of how the campaign works – that is the purpose of the Tutorial, which they will be presented with in a later stage.</p>
      <p>After this introduction, users will be prompted to log in or register. In case they are new users, they will be forwarded to the Tutorial after registration, if you have it enabled.</p>
    </div>

    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p() }}
        <p class="form-actions"><button type="submit" class="button">Save</button></p>
    </form>

  </div>
</div>
{% endblock config_content %}
