{% extends "config/config-base.html" %}

{% block title %}{{ campaign.title }} config {% endblock title %}

{% block styles %}    
  <link rel="stylesheet" href="/static/css/widget-test.css">
{% endblock styles %}    

{% block scripts %}    
  <script src="/static/vendor/js/vue-2.5.3.js"></script>
  <script src="/static/vendor/js/vue-resource-1.3.4.js"></script>
  <script src="/static/vendor/js/sortable.min.js"></script>
  <script src="/static/vendor/js/vue-draggable.js"></script>
  <script src="/static/vendor/js/color-hash.js"></script>
  <script>
    // save URLs for later use in widgets
    var getIntroURL = "{% url 'get_intro_template' campaign.name %}";
    var setIntroURL = "{% url 'set_intro_template' campaign.name %}";
    var getQuestionURL = "{% url 'get_question_template' campaign.name %}";
    var setQuestionURL = "{% url 'set_question_template' campaign.name %}";
    // set answer colors
    var colorHash = new ColorHash();
    var values = {};
    $('span.answer-label').css('background-color', function() {
      return colorHash.hex($(this).attr('data-value'));
    });
  </script>
  <script src="/static/js/widget-intro.js"></script>
  <script src="/static/js/widget-question.js"></script>
{% endblock scripts %}
    
{% block config_content %}

{# <form class="grid-x grid-margin-x"  method="POST" v-on:submit="updateIntroText($event)">{% csrf_token %} #}

<div class="grid-x grid-margin-x">
  <div class="cell">
    <h2>Campaign settings</h2>

    <div class="config-intro">
      <p class="lead">Here you can tweak the public information presented about your campaign.</p>
    </div>

    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p() }}
        <p class="form-actions"><button type="submit" class="button">Save</button></p>
    </form>

  </div>
</div>
{% endblock config_content %}
