{% extends "config/config-base.html" %}

{% block title %}{{ campaign.title }} config {% endblock title %}

{% block styles %}    
  <link rel="stylesheet" href="/static/css/widget-test.css">
{% endblock styles %}    

{% block config_content %}

<div class="grid-x grid-margin-x">
  <div class="cell">
    <h2>Telegram settings</h2>

    <div class="config-intro">
      <p class="lead">Here you can enable and configure Telegram support for your campaign.</p>
      <p>With the Telegram app, you can give users a special Telegram link which will immediately get them going inside the Telegram application.</p>
      <p>There’s a bit of extra work to set up your Telegram bot to support your campaign. You can contact us to set it up or, if you already have Telegram, you can do it yourself:</p>
      <ul>
        <li>open a chat with BotFather using <a href="https://telegram.me/botfather" target="_blank">this link</a></li>
        <li>type <strong>/newbot</strong> to create a new bot</li>
        <li>give your bot a name</li>
        <li>by now you should be done! Just paste the token given to you by the BotFather below and hit Save.</li>
      </ul>
    </div>

    {% if campaign.telegram_botname %}
    <p>Bot username: <strong>{{ campaign.telegram_botname }}</strong></p>
    {% endif %}

    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p() }}
        <p class="form-actions"><button type="submit" class="button save btn btn-default">Save</button></p>
    </form>

  </div>
</div>
{% endblock config_content %}
