{% extends "config/config-base.html" %}

{% block title %}{{ campaign.title }} dashboard {% endblock title %}

{% block config_content %}
<div class="grid-x grid-margin-x">
  <section class="cell small-12">
    <h2>Status</h2>                    
    {% if all_questions %}
    <ul class="inline-list status">
      <li>
        <strong>{{ campaign.questions.exclude(status="open").count() }}</strong>
        <span>closed questions</span>
      </li>
      <li>
        <strong>{{ campaign.questions.filter(status="open").count() }}</strong>
        <span>open questions</span>
      </li>
      <li>
        <strong>{{ campaign.questions.filter(answers__isnull=True).count() }}</strong>
        <span>unanswered questions</span>
      </li>
      <li>
        <strong>{{ solved_questions.count() }}</strong>
        <span>solved questions</span>
      </li>
      <li>
        <strong>{{ conflict_questions.count() }}</strong>
        <span>questions with conflicts</span>
      </li>
    </ul>
    {% else %}
      <p>This campaign doesn't have any questions yet. <a href="{% url 'config_upload' campaign.name %}">Upload some</a>!
    {% endif %}
  </section>

  <section class="cell small-12">
    <h2>Public links</h2>                    
    <p>These are the links that you can give users to access your campaign.</p>
    <ul class="no-bullet campaign-links">
      <li>
        <span><i class="fi-web small"></i> Browser chat</span>
        <a class="hollow button" href="https://taskforce.jplusplus.org/{{ campaign.name }}">https://taskforce.jplusplus.org/{{ campaign.name }}</a>
      {% if campaign.telegram_enabled %}
      <li>
        <span><i class="fi-telegram small"></i>Telegram</span>
        <a class="hollow button" href="https://t.me/{{ campaign.telegram_botname }}">https://t.me/{{ campaign.telegram_botname }}</a></li>
      {% else %}
      <li><em>The Telegram bot is not enabled for this campaign. To enable it, visit the <a href="{% url 'config_telegram' campaign.name %}">Telegram settings page</a>.</li>
      {% endif %}
  </section>
  
  <section id="embed-code" class="cell small-12">
    <h2>Embed code</h2>
    <p>Copy this HTML to add the chat interface to your website:</p>
    <textarea><iframe src="https://taskforce.jplusplus.org/{{ campaign.name }}" width="360" height="640" frameborder="0"></iframe></textarea>
  </section>
  
  <section class="cell small-12">
    <h2>Download results</h2>
    <p><a class="button primary" href="{% url 'download_csv' campaign.name %}">Download CSV</a></p>
  </section>
{% endblock config_content %}
