{% extends "config/config-base.html" %}

{% block title %}{{ campaign.title }} config {% endblock title %}

{% block styles %}    
  <link rel="stylesheet" href="/static/css/widget-test.css">
{% endblock styles %}    
    
{% block config_content %}
<div class="grid-x grid-margin-x">
  <div class="cell">
    <h2>Upload questions</h2>

    <div class="config-intro">
      <p class="lead">The first step in setting up a campaign is creating the questions to be answered.</p>
      {% if campaign.type == 'image' %}
      <p>Since this is an image campaign, you will only need to upload a zip file of images. A question will be created for each of those. You can come back and upload more images later.</p>
      {% elif campaign.type == 'text' %}
      <p>Since this is a text campaign, you need to create and upload CSV file with the fields to be shown. You can provide a file with any number of fields, and then you’ll be able to include them and fine-tune the questions in the Question Template section.</p>
      {% endif %}
    </div>

    <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p() }}
        <p class="form-actions"><button type="submit" class="button">Upload</button></p>
    </form>

  </div>
</div>
{% endblock config_content %}
