{% extends "config/config-base.html" %}

{% block title %}{{ campaign.title }} config {% endblock title %}

{% block styles %}    
  <link rel="stylesheet" href="/static/css/widget-test.css">
{% endblock styles %}    

{% block scripts %}    
  <script src="/static/vendor/js/vue-2.5.3.js"></script>
  <script src="/static/vendor/js/vue-resource-1.3.4.js"></script>
  <script src="/static/vendor/js/sortable.min.js"></script>
  <script src="/static/vendor/js/vue-draggable.js"></script>
  <script src="/static/vendor/js/markdown-it.min.js"></script>
  <script src="/static/vendor/js/markdown-it-emoji.min.js"></script>
  <script src="/static/vendor/js/jquery.emoji.min.js"></script>
  <script src="/static/js/utils.js"></script>
  <script>
    // save URLs for later use in widgets
    var getTutorialURL = "{% url 'get_tutorial_template' campaign.name %}";
    var setTutorialURL = "{% url 'set_tutorial_template' campaign.name %}";
  </script>
  <script src="/static/js/widget-tutorial.js"></script>
{% endblock scripts %}
    
{% block config_content %}

{# <form class="grid-x grid-margin-x"  method="POST" v-on:submit="updateIntroText($event)">{% csrf_token %} #}

<div class="grid-x grid-margin-x">
  <div class="cell">
    <h2>Edit Tutorial</h2>

    <div class="config-intro">
      <p class="lead">The tutorial is presented to new users as a way to ease them into the way the campaign works.</p>
      <p>You can present them with example questions and give them feedback on their answer. The best approach is to provide them with one question per possible answer choice, so that they can go through all the possibilities and thus don’t face any surprises during the actual answering process.</p>
    </div>

    <form id="image-upload-form" class="post-form" action="{% url 'upload_image' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ imageform }}
        <button type="submit" class="button hollow" id='upload-btn'>Upload</button>
    </form>

    <form class="post-form" method="POST">{% csrf_token %}
        {{ form.as_p() }}
        <p class="form-actions"><button type="submit" class="button">Save</button></p>
    </form>

  </div>
</div>
{% endblock config_content %}
