{% extends "config/config-base.html" %}

{% block title %}{{ campaign.title }} config {% endblock title %}

{% block scripts %}    
  <script src="/static/vendor/js/color-hash.js"></script>
  <script>
    // set answer colors
    var colorHash = new ColorHash();
    var values = {};
    $('span.answer-label').css('background-color', function() {
      return colorHash.hex($(this).attr('title'));
    });
  </script>
{% endblock scripts %}

{% block config_content %}
<div id="manage-answers" class="grid-x grid-margin-x">
  <div class="cell">
    <h2>Review conflicting answers</h2>

    <div class="config-intro">
      <p class="lead">In this section, you can see a list of questions with conflicting answers, meaning those where the provided answers by different users don’t match each other.</p>
      <p>This can happen because of human error or tricky questions. In this case, it’s your role as editor to review the questions and decide the correct answer.</p>
    </div>


    <table class="striped">
      <thead>
        <tr>
          <!-- <th>Task ID</th> -->
          <th>Set Answer</th>
          <th>Preview</th>
          <th>Answer Status</th>
          <th>Answer Details</th>
        </tr>
      </thead>
      <tbody>
        {% for q in conflict_questions %}
        <tr>
          <td data-label="Set Answer">
            <div class="button-group">
              <a class="button" href="">M</a>
              <a class="button" href="">F</a>
            </div>
          </td>
          {% if q.media_url %}
          <td data-label="Preview" class="image-preview"><a href="{{ q.media_url }}"><img src="{{ q.media_url }}" alt="{{ q.human_id }}"></a></td>
          {% else %}
          <td data-label="Task ID">{{ q.human_id }}</td>
          <td data-label="Preview" class="image-preview"><span></span></td>
          {% endif %}
          {% if q.validated_value %}
          <td data-label="Answer Status"><em>Validated</em></td>
          {% else %}
          <td data-label="Answer Status"><em>Pending review</em></td>
          {% endif %}
          <!-- old, delete
            {% for a in q.answers.all() %}
            <td data-label="Answer"><strong>{{ a.value }}</strong></td>
            <td data-label="Answer Details">{{ a.timestamp.strftime("%Y-%m-%d %H:%M") }}
            &ndash; 
            {% if a.user %}
            {{ a.user }}
            {% else %}
            <em>anonymous</em>
            {% endif %}
            </td>
            {% endfor %}
          -->
          <td data-label="Answer Details">
            {% for a in q.answers.all() %}
            <span data-tooltip aria-haspopup="true" class="has-tip answer-label" data-disable-hover="false" title="{{ a.value }}" aria-label="{{ a.value }}"></span>
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock config_content %}
