{% extends "config/config-base.html" %}

{% block title %}{{ campaign.title }} config {% endblock title %}

{% block styles %}    
  <link rel="stylesheet" href="/static/css/widget-test.css">
{% endblock styles %}    

{% block scripts %}    
  <script src="/static/vendor/js/vue-2.5.3.js"></script>
  <script src="/static/vendor/js/vue-resource-1.3.4.js"></script>
  <script src="/static/vendor/js/sortable.min.js"></script>
  <script src="/static/vendor/js/vue-draggable.js"></script>
  <script>
    // save URLs for later use in widgets
    var getQuestionURL = "{% url 'get_question_template' campaign.name %}";
    var setQuestionURL = "{% url 'set_question_template' campaign.name %}";
  </script>
  <script src="/static/js/widget-question.js"></script>
{% endblock scripts %}
    
{% block config_content %}

{# <form class="grid-x grid-margin-x"  method="POST" v-on:submit="updateIntroText($event)">{% csrf_token %} #}

<div class="grid-x grid-margin-x">
  <div class="cell">
    <h2>Edit question template</h2>

    <div class="config-intro">
      <p class="lead">Here you can tweak and adjust how the questions will look like to users.</p>
      <p>You can also define the choices that will be made available in each question. You can edit the label of each choice (which is what users see) and the value that will be stored as the answer (which is what is saved in the answer database).</p>
    </div>

    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p() }}
        <p class="form-actions"><button type="submit" class="button">Save</button></p>
    </form>

  </div>
</div>
{% endblock config_content %}
