{% extends "config/config-base.html" %}

{% block title %}{{ campaign.title }} config {% endblock title %}

{% block config_content %}

<div id="leaderboard" class="grid-x grid-margin-x">
  <div class="cell">
    <h2>Campaign participants</h2>
    
    <div class="config-intro">
      <p class="lead">Here you can see a list of the users that have contributed to your campaign and how many questions each of them has answered.</p>
    </div>

    <h3>Leaderboard</h3>
    <ol class="scores">
    {% for cs in leaderboard %}
    <li>
      <strong>{{ cs.user.username }}</strong>:
      <span class="points">{{ cs.points }}</span>
      <em>({{ answers.filter(user=cs.user, question__campaign=cs.campaign).count() }} answers)</em>
    </li>
    {% endfor %}
    </ol>
  </div>
</div>

{% endblock config_content %}
