{% extends "base.html" %}

{% block title %}Campaign admin{% endblock title %}

{% block content %}
<div id="admin-interface">
  <div id="navigation" class="top-bar">
    <div class="top-bar-title">
      <span data-responsive-toggle="main-menu" data-hide-for="medium">
        <button class="menu-icon dark" type="button" data-toggle></button>
      </span>
      <strong class="logo">
        <img src="/static/images/taskforce-logo.svg" onerror="this.src='/static/images/taskforce-logo.png'" alt="Taskforce">
        Taskforce
      </strong>
    </div><!-- /.top-bar-title -->
    <div  id="main-menu">
      <div class="top-bar-right">
        <ul class="menu vertical medium-horizontal">
          <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
      </div><!-- /.top-bar-right -->
    </div><!-- /#main-menu -->
  </div><!-- /.top-bar #navigation -->

  <div class="grid-container fluid">
    <div class="grid-x grid-padding-x">
      <div id="sidebar-nav" class="cell medium-3 large-2">
        <ul class="menu vertical">
          {% if campaign %}
            {% with view = request.resolver_match.view_name %}
            <li class="campaign-name"><strong>{{ campaign.title }}</strong></li>
            <li{% if view == 'config_campaign' %} class="active"{% endif %}>
              <a href="{% url 'config_campaign' campaign.name %}">Overview</a>
            </li>
            <li{% if view == 'config_review' %} class="active"{% endif %}>
              <a href="{% url 'config_review' campaign.name %}">Review Conflicts</a>
            </li>
            <li{% if view == 'config_participants' %} class="active"{% endif %}>
              <a href="{% url 'config_participants' campaign.name %}">Participants</a>
            </li>
            <li><strong>Configuration</strong></li>
            <li{% if view == 'config_edit' %} class="active"{% endif %}>
              <a href="{% url 'config_edit' campaign.name %}">Campaign settings</a>
            </li>
            <li{% if view == 'config_upload' %} class="active"{% endif %}>
              <a href="{% url 'config_upload' campaign.name %}">Upload questions</a>
            </li>
            <li{% if view == 'config_question' %} class="active"{% endif %}>
              <a href="{% url 'config_question' campaign.name %}">Question template</a>
            </li>
            <li{% if view == 'config_intro' %} class="active"{% endif %}>
              <a href="{% url 'config_intro' campaign.name %}">Introduction</a>
            </li>
            <li{% if view == 'config_tutorial' %} class="active"{% endif %}>
              <a href="{% url 'config_tutorial' campaign.name %}">Tutorial</a>
            </li>
            <li{% if view == 'config_telegram' %} class="active"{% endif %}>
              <a href="{% url 'config_telegram' campaign.name %}">Telegram integration</a>
            </li>
            {% endwith %}
          {% else %}
            {# root config page #}
            <li><a class="button" href="{% url 'config_new' %}">Create a new campaign</a></li>
          {% endif %}
        </ul>
      </div>
      <div id="main-content" class="cell medium-9 large-10">
        {% if messages %}
          <div class="messages success callout" data-closable>
            {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
        {% block config_content %}{% endblock %}
      </div>
    </div><!-- /.grid-x -->     
  </div><!-- /.grid-container -->        
</div><!-- /#admin-interface -->
{% endblock content %}
