{% extends "config/config-base.html" %}

{% block title %}Campaign admin{% endblock title %}

{% block config_content %}
<div id="admin-index" class="grid-x grid-margin-x">
  {% for campaign in campaigns %}
  <div class="cell">
    <h1><a href="{% url 'config_campaign' campaign.name %}">{{ campaign.name }}</a></h1>
    <ul class="inline-list status">
      <li>
        <strong>{{ campaign.questions.exclude(status="open").count() }}</strong>
        <span>closed questions</span>
      </li>
      <li>
        <strong>{{ campaign.questions.filter(status="open").count() }}</strong>
        <span>open questions</span>
      </li>
      <li>
        <strong>{{ campaign.questions.filter(answers__isnull=True).count() }}</strong>
        <span>unanswered questions</span>
      </li>
    </ul>
    <hr>
  </div>
  {% endfor %}
</div>
{% endblock config_content %}
