<div id="question-editor" class="admin-editor">

  <p class="cell">
    <button class="button secondary" type="button" v-on:click="addQuestionBit()"><i class="fi-plus"></i> Add new</button>
  </p>

  <draggable v-model="question_bits" 
             :options="{handle:'.drag-handle'}"
             class="wrapper">
    <transition-group name="list-complete">
      <div v-for="(bit, index) in question_bits" 
           v-bind:key="index"
           class="cell list-complete-item" 
           >
         <div class="message-config grid-x">
           <div class="actions cell shrink">
             <ul class="inline-list">
               <li class="remove">
                 <a href="#" title="Remove"
                    v-on:click="removeQuestionBit(index)" 
                    v-if="!bit.choices">
                    <i class="fi-trash"></i>
                 </a>
               </li>
               <li class="drag-handle">
                 <i class="fi-arrow-up"></i><i class="fi-arrow-down"></i>
               </li>
             </ul>
           </div>
           <div class="editable-text cell auto">
             <div class="wrapper">
               <p class="example"
                v-if="bit.media_url"><i class="fi-photo"></i></p>
               <p contenteditable 
                  @blur="ceEdit($event, bit, 'text')" 
                  @keydown.enter="cePressEnter($event, bit, 'text')"
                  title="Click to edit"
                  >${ bit.text }</p>
                
                <div class="grid-x grid-margin-x" v-if="bit.choices">
                  <span class="label cell small-12 medium-4">Button shown to users</span>
                  <span class="label cell small-12 medium-8">Matching value saved in database</span>
                </div>
                <div class="choices" 
                    v-for="choice in bit.choices" 
                    v-bind:key="choice.label">
                    <div class="grid-x grid-margin-x">
                      <!-- not working yet !
                      <p class="remove-choice">
                        <a href="#" title="Remove this choice"
                                        v-on:click="removeQuestionChoice($event, bit, choice)" 
                                        ><i class="fi-x"></i></a>
                      </p>
                      -->
                       <div  class="cell small-12 medium-4">
                         <p title="Click to edit">
                           <button class="choice-label button hollow expanded" type="button" contenteditable 
                                   @blur="ceButtonEdit($event, choice, 'label')" 
                                   @keydown.enter="cePressEnter($event, choice, 'label')"
                                   @click="buttonClicked($event)"
                                   >${ choice.label }</button>
                         </p>
                       </div>
                       <div class="cell small-12 medium-8">
                         <p class="choice-value" contenteditable
                            @blur="ceEdit($event, choice, 'value')" 
                            @keydown.enter="cePressEnter($event, choice, 'value')"
                            title="Click to edit"
                            >
                            ${ choice.value }
                         </p>
                       </div>
                    </div>
                </div><!-- /.choices -->
              </div><!-- /.wrapper -->
           </div><!-- /.editable-text-->
         </div><!-- /.message-config --> 
      </div>
    </transition-group>
  </draggable>

  <input name="question_template" type="hidden" :value="JSON.stringify(question_bits)">

  {#
  <p class="cell">
  <button class="button" type="submit">Update</button>
  <span id="#question-form-status" ref="questionFormStatus"></span>
  </p>
  #}

</div>
