<div id="tutorial-editor" class="admin-editor">
  <p class="cell">
    <button class="button secondary" type="button" v-on:click="addTextBit()"><i class="fi-plus"></i> Add new text</button>
    <button class="button secondary" type="button" v-on:click="addQuestionBit()"><i class="fi-plus"></i> Add new question</button>
  </p>

  <draggable v-model="tutorial_bits" 
             :options="{handle:'.drag-handle'}"
             class="wrapper">
    <transition-group name="list-complete">
      <div v-for="(bit, index) in tutorial_bits" 
           v-bind:key="index"
           class="cell list-complete-item" 
           >
        <div class="message-config grid-x">
          <div class="actions cell shrink">
            <ul class="inline-list">
              <li class="remove">
                <a href="#" title="Remove"
                            v-on:click="removeBit($event, index)"
                            ><i class="fi-trash"></i>
                </a>
              </li>
              <li class="drag-handle">
                <i class="fi-arrow-up"></i><i class="fi-arrow-down"></i>
              </li>
            </ul>
          </div>
          <div class="editable-text cell auto">
            <div class="wrapper">
              <p class="example"
                 v-if="bit.media_url"><img :src="bit.media_url"></p>
              <p contenteditable
                 @blur="ceEdit($event, bit, 'text')" 
                 @keydown.enter="cePressEnter($event, bit, 'text')"
                 title="Click to edit"
                 v-html="renderMarkdown(bit.text)"></p>

              <div class="grid-x grid-margin-x" v-if="bit.choices">
                <span class="label cell small-12 medium-4">Button shown to users</span>
                <span class="label cell small-12 medium-8">Response to show if this answer is selected</span>
              </div>


              <div class="choices" 
                v-for="choice in bit.choices" 
                v-bind:key="choice.label">

                <div class="grid-x grid-margin-x">
                  <p class="remove-choice">
                    <a href="#" title="Remove this choice"
                                    v-on:click="removeQuestionChoice($event, bit, choice)" 
                                    ><i class="fi-x"></i></a>
                  </p>
                  <div class="choice cell small-12 medium-4">
                    <p title="Click to edit">
                      <button class="choice-label button hollow expanded" type="button" contenteditable 
                               @blur="ceButtonEdit($event, choice, 'label')" 
                               @keydown.enter="cePressEnter($event, choice, 'label')"
                               @click="buttonClicked($event)"
                               >${ choice.label }</button>
                    </p>
                  </div>
                  <div class="cell small-12 medium-8">
                    <p class="choice-value" contenteditable
                       @blur="ceEdit($event, choice.next, 'text')" 
                       @keydown.enter="cePressEnter($event, choice.next, 'text')"
                       title="Click to edit"
                       >
                       ${ choice.next.text }
                    </p>
                  </div>
                </div>
              </div><!-- /.choices -->
            </div><!-- /.wrapper -->
            <div class="choices-editor">
                <button class="button clear" type="button" 
                  v-if="bit.choices"
                  v-on:click="addQuestionChoice(bit)"><i class="fi-plus"></i> Add another choice</button>
                <button class="button clear" type="button" 
                  v-on:click="addImage(bit)"
                  v-if="!bit.media_url"><i class="fi-plus"></i>  Add an image</button>
                <button class="button clear" type="button" 
                  v-on:click="removeImage(bit)"
                  v-if="bit.media_url"><i class="fi-x"></i>  Remove image</button>
            </div><!-- /.choices-editor -->
          </div><!-- /.editable-text -->
        </div><!-- /.message-config -->
      </div><!-- /.list-complete-item -->
    </transition-group>
  </draggable>

  <input name="tutorial" type="hidden" :value="JSON.stringify(tutorial_bits)">

  {#
  <p class="cell">
  <button class="button" type="submit">Update</button>
  <span id="#tutorial-form-status" ref="tutorialFormStatus"></span>
  </p>
  #}

</div>
