<div id="intro-editor" class="admin-editor">

  <p class="cell">
    <button class="button secondary" type="button" v-on:click="addIntroBit()"><i class="fi-plus"></i> Add new</button>
  </p>

  <draggable v-model="intro_bits" :options="{handle:'.drag-handle'}"
    class="wrapper">
  <transition-group name="list-complete">
    <div v-for="(bit, index) in intro_bits" 
         v-bind:key="index"
         class="cell list-complete-item" 
         >
         <div class="message-config grid-x">
           <div class="actions cell shrink">
             <ul class="inline-list">
               <li class="remove"><a href="#" v-on:click="removeIntroBit(index)" v-if="!bit.choices" title="Remove"><i class="fi-trash"></i></a></li>
               <li class="drag-handle"><i class="fi-arrow-up"></i><i class="fi-arrow-down"></i></li>
             </ul>
           </div>
           <div class="editable-text cell auto">
             <div class="wrapper">
               <p contenteditable @blur="ceEdit($event, bit, 'text')" @keydown.enter="cePressEnter($event, bit, 'text')">
                 ${ bit.text }
               </p>
               <button class="button hollow" type="button" 
                       contenteditable @blur="ceButtonEdit($event, choice, 'label')" @keydown.enter="cePressEnter($event, choice, 'label')"
                       v-for="choice in bit.choices" v-bind:key="choice.label">
                 ${ choice.label }
               </button>
             </div><!-- /.wrapper -->
           </div><!-- /.editable-text -->
         </div><!-- /.message-config  -->
    </div><!-- /.list-complete-item -->
  </transition-group>
  </draggable>

  <input name="intro_template" type="hidden" :value="JSON.stringify(intro_bits)">

  {#
  <p class="cell">
    <button class="button" type="submit">Update</button>
    <span id="#intro-form-status" ref="introFormStatus"></span>
  </p>
  #}

</div>
