/* ~~~~~~~~~~~~~~~~~~~~~~ Custom styles 
~~~~~~~~~~~~~~~~~~~~~~*/

/*
	Name: Taskforce, by J++
	Date: 2017
	Description: Layout for Taskforce's website.
	Version: 1.0
	Original author: J++ <http://jplusplus.org/>
*/

/* Typography
*/

@font-face {
  font-family: 'Libre Franklin';
  font-weight: 400;
  font-style: normal;
  src: local('Libre Franklin'), url('../fonts/LibreFranklin/LibreFranklin-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Libre Franklin';
  font-weight: 900;
  font-style: normal;
  src: local('Libre Franklin Black'), url('../fonts/LibreFranklin/LibreFranklin-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Catamaran';
  font-weight: 300;
  font-style: normal;
  src: local('Catamaran Light'), url('../fonts/Catamaran/Catamaran-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Catamaran';
  font-weight: 400;
  font-style: normal;
  src: local('Catamaran Regular'), url('../fonts/Catamaran/Catamaran-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Catamaran';
  font-weight: 700;
  font-style: normal;
  src: local('Catamaran Bold'), url('../fonts/Catamaran/Catamaran-Bold.ttf') format('truetype');
}

body {
    font-family: "Catamaran", Roboto, "DejaVu Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 6rem;
    font-family: "Libre Franklin", Roboto, "DejaVu Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Colours

$taskforce-lighgray: #f2f2f2;
$taskforce-blue: #26689a;
$taskforce-darkgray: #374548;
$taskforce-lightorange: #fbbd64;
$taskforce-mediumorange: #f59838;
$taskforce-darkorange: #f06942;
*/

/* Layout
*/

html, body {
  height: 100%;
  position: relative; }

.top-bar {
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 0;
    padding-bottom:  0;
}

.top-bar-title {
    line-height: 1;
}

.top-bar-title > span:first-child {
    margin-left: 0.5rem;
    margin-right: 1rem;
}

.top-bar-title .logo img {  
    display: inline-block;
    height:  28px;
    width: auto;
    margin-right: 5px;
}

.menu a, .menu .button {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.menu .signup a {
    color: #fff;
    background: #f06942;
}

/* Public site
*/

/* sections with 100% screen height
.section { height: 100vh; }
 #intro.section { height: 90vh; }
 */
 
section.grid-container {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

section.grid-container > .grid-x h2:first-child {
  margin-bottom: 1.5rem;
}

#intro {
    color: #fff;
    background-color: #374548;    
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#intro header p.logo img {
    width: 350px;
    height: auto;   
}

.features h2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.features h3 {
    color: #fbbd64;
    font-family: "Catamaran", Roboto, "DejaVu Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.2;
}

.features p {
    font-size: 125%;
}

.features .cell p.image img {
    display: block;
    width: 100%;
    max-width: 450px;
    height: auto;
}

#open-campaigns .campaigns {
    margin-bottom: 2rem;
}

#open-campaigns .campaigns .grid-x {
    justify-content: center;
    margin-top: 2rem;
}

#open-campaigns .campaigns a {
    display: inline-block;
    background: #f59838;
    color: #fff;
    padding: 2.5rem 1rem;
    max-width: 300px;
    min-height: 200px;
    text-align: center;
}

#open-campaigns .campaigns a:hover,
#open-campaigns .campaigns a:focus {
   background: #f38310;
}

#open-campaigns .campaigns a h3 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.45rem;
}

/* Chat interface
*/

.campaign-wrapper {
    height: 100%;
    display: flex;
    flex-flow: column; 
}

.campaign-wrapper #navigation,
.campaign-wrapper #input-area {
    flex-shrink: 0;
}

.campaign-wrapper .main-wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

#chat-wrapper {
    width: 100%;
    min-width: 0px;
    margin: 0 auto;
    overflow-y: auto;
    height: 100%;
    background: #f2f2f2;
    /* flip hack to allow overflow scroll in #chat-area
    with justify-content: flex-end;
    https://stackoverflow.com/a/47375315 */
    transform: scale(1,-1);    
}

#chat-wrapper #chat-area {
    display: flex;
    position: relative;
    overflow-y: auto;
    flex-grow: 1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    transform: scale(1,-1); 
    margin-bottom: 0.75rem;
}

.message-box {
    min-height: 40px;
    position: relative; 
    clear: both;
    margin-top: 0.35rem;
    padding-bottom: 0.35rem;
}

.message-box::before,
.message-box::after {
    content: " ";
    display: table;
}
.message-box::after { clear: both; }

.message-box .message {
    -ms-flex-item-align: start;
    align-self: flex-start;
    min-height: -webkit-min-content;
    display: inline-block;
    background-color: #fff;
    padding: 0.45rem;
    border-radius: 4px;
    width: auto;
    max-width: 85%;
    transition: background-color 0.5s;
    margin: 0 6px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    z-index: 1; 
    /* wrapping long words or urls */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.message-box .message p:not(.image) {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.message-box .message p {
    margin: 0;
}
.message-box .message p + p {
    margin-top: 5px;
}
.message-box .message p.image {
    min-width: 50px;
    min-height: 50px;
    background: url(../images/loading.svg);
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: center center;
}
.message-box .message p.image img {
    display: block;
}
.message-box .message img.emoji {
    height: 1.25rem;
    width: auto;
    vertical-align: bottom;
}
.message-box .message > *,
#input-area > * {
    font-size: 0.875rem;
}

.message-box .message .button-group {
    margin: 0.25rem 0 0 0;
}

.button-group img.emoji {
    vertical-align: middle;
}

.bot .message {
  float: left; }

.bot .message::before {
  display: block;
  content: "";
  width: 8px;
  height: 11px;
  background: url(../images/bot-tip.svg);
  background-size: 8px 11px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
  z-index: 200; }

.user .message {
  float: right;
  background-color: #f7df82; }

.user .message::before {
  display: block;
  content: "";
  width: 8px;
  height: 11px;
  background: url(../images/user-tip.svg);
  background-size: 8px 11px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -6px;
  z-index: 200; }

.message p.image img {
  border-radius: 2px; }

.message.not-received {  /* Temporary state for sent messages while waiting for the API to respond */
  color: #aaa; }

#input-area {
    flex-shrink: 0;
    height: 5.25rem;
    background-color: #374548;
}
#input-area #input-form {
    width: 100%;
    margin: 0 auto;
    border: 0;
    box-shadow: 0;
    padding: 1.25rem 0;
}
#input-area #input-form .input-group {
    display: block;
    width: 100%;
}
#input-area #input-form .input-group #input-box {
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.3;
    height: 2.5rem;
    margin: 0;
}

/* Admin interface
*/

#admin-interface {
    height: 100%;
    display: flex;
    flex-flow: column;
}

#admin-interface > .grid-container.fluid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

#admin-interface > .grid-container.fluid > .grid-x.grid-padding-x {
    flex: 1 1 auto;
    height: 100%;
}

#admin-interface #sidebar-nav {
    border-right: 1px solid #f2f2f2;
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: 100%;
}

#admin-interface #sidebar-nav .menu a {
    color: #5f777c;
    border-bottom: 1px solid #f2f2f2;
}

#admin-interface #sidebar-nav .menu a:hover,
#admin-interface #sidebar-nav .menu a:focus {
    color: #374548;
}

#admin-interface #sidebar-nav .menu a.button {
    color: #fff;
    border-bottom: 0;
    font-weight: 700;
}

#admin-interface #sidebar-nav .menu .active > a {
    color: #f59838;
    background: transparent;
}

#admin-interface #sidebar-nav .menu .active > a:hover,
#admin-interface #sidebar-nav .menu .active > a:focus {
    color: #f59838;
}

#admin-interface #sidebar-nav li > strong {
    display: block;
    padding: 0.25rem 1rem;
    text-transform: uppercase;
    margin-top: 2rem;
}

#admin-interface #sidebar-nav li.campaign-name > strong {
   margin-top: 0;
}

#admin-interface #admin-index .cell:first-child {
    margin-top: 2rem;
}

#admin-interface #main-content hr {
    max-width: 100%;
}

#admin-interface #main-content .messages {
    margin-top: 2rem;
    border: 0;
}

#admin-interface #main-content .messages p {
  margin-bottom: 0;
}

#admin-interface #main-content .config-intro {
    margin-top: 0.5em;
    margin-bottom: 2em;
}

#admin-interface #main-content .config-intro p.lead,
#admin-interface #main-content .config-intro p {
    margin-bottom: 0.5em;
}

#admin-interface .grid-container h2 {
    margin-top: 4rem;
    margin-bottom: 1rem;
}

#admin-interface .grid-container h2:first-child {
    margin-top: 2rem;
}

#admin-interface #main-content ul.campaign-links {
   margin-left: 0;
   margin-bottom: 0;
}

#admin-interface #main-content ul.campaign-links li:first-child {
   margin-bottom: 1.25rem;
}

#admin-interface #main-content ul.campaign-links li span {
    display: block;
    text-transform: uppercase;
    margin-bottom: 2px;
    vertical-align: middle;
}

#admin-interface #main-content > .grid-x > section.cell {
  margin-bottom: 1.5rem;
}

ul.inline-list { 
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

ul.inline-list li {
    display: inline-block;
    margin-left: 1rem;
}

ul.inline-list li:first-child { margin-left: 0; }

.inline-list.status strong,
.inline-list.status span { display: block; }

.inline-list.status strong {
    font-size: 1.75rem;
    font-weight: 700;
}

.inline-list.status span {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#admin-interface #embed-code textarea {
    height: 80px;
}

#admin-interface .admin-editor .message-config {
    padding: 1em;
}

#admin-interface .editable-text .wrapper {
    background: #f2f2f2;
    border: 1px solid #ddd;
    padding: 0.85em;
}

#admin-interface .editable-text p {
    font-size: 0.9rem;
    line-height: 1;
    padding: 0.85em 0.25em;
    border: 1px solid transparent;
    margin-bottom: 0.5em;
}

#admin-interface .editable-text p:last-child {
    margin-bottom: 0;
}

#admin-interface .editable-text p:hover {
    border: 1px dotted #333;
}

#admin-interface .editable-text p:focus,
#admin-interface .editable-text p:active {
    background: #fff;
    border: 1px solid #ccc;
}

#admin-interface .editable-text p.example {
    border: 0;
    margin-bottom: 0.25em;
}

#admin-interface .editable-text p.example + p {
    margin-bottom: 0.75em;
}

#admin-interface .editable-text p.example:focus,
#admin-interface .editable-text p.example:active {
    background: transparent;
    border: 0;
}

#admin-interface .editable-text button,
#admin-interface .editable-text .button {
    margin-right: 5px;
}

#admin-interface .editable-text .choices button:hover,
#admin-interface .editable-text .choices .button.hollow:hover,
#admin-interface .editable-text .choices .button.hollow:focus {
    cursor: text;
    border: 1px solid #26689a;
    color: #26689a;
}

#admin-interface .editable-text .choices button:active,
#admin-interface .editable-text .choices button:focus,
#admin-interface .editable-text .choices .button.hollow:active,
#admin-interface .editable-text .choices .button.hollow:focus {
    background: #fff;
}

#admin-interface .editable-text .button.hollow:hover i,
#admin-interface .editable-text .button.hollow:focus i {
  color: #1e537b;
}

#admin-interface .editable-text p.example i.fi-photo::before {
    font-size: 120px;
    line-height: 1;
    color: #ccc;
    background: #fff;
    padding: 2px 5px;
    border-radius: 2px;
}

#admin-interface .editable-text .choices {
    margin-bottom: 1.25em;
    position: relative;
}

#admin-interface .editable-text .choices .remove-choice {
    display: inline-block;
    position: absolute;
    left: -2em;
    height: 100%;
    text-align: center;
    line-height: 1;
}

#admin-interface .editable-text .choices .remove-choice,
#admin-interface .editable-text .choices .remove-choice:hover,
#admin-interface .editable-text .choices .remove-choice:focus,
#admin-interface .editable-text .choices .remove-choice:active {
    border: 0;
    background: transparent;
}

#admin-interface .editable-text .choices .remove-choice a {
    display: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.25em 0.45em;
    border-radius: 20px;
    background: transparent;
    border: 1px solid transparent;
}

#admin-interface .editable-text .choices:hover .remove-choice a {
    display: inline-block;
    background: #fff;
    border: 1px solid #ccc;
}

#admin-interface .editable-text .choices .remove-choice a i {
    margin-right: 0;
}

#admin-interface .editable-text .choices .remove-choice a:hover i {
    color: #1e537b;
}

#admin-interface .editable-text .choices:last-child {
    margin-bottom: 0;
}

#admin-interface .editable-text .choices p {
    margin-bottom: 0;
    padding: 0;
}

#admin-interface .editable-text .choices p.choice-value {
    margin-bottom: 0;
    padding: 0.85em 0.25em;
}

#admin-interface .editable-text .choices-editor {
  padding-top: 0.75em;
  margin-bottom: 0.75em;
}

#admin-interface .editable-text .choices-editor .button {
  background: #d1e4f2;
  color: #26689a;
  border: 0;
}

#admin-interface .editable-text .choices-editor .button:hover,
#admin-interface .editable-text .choices-editor .button:focus {
  background: #bad7ec;
  color: #1e537b;
  border: 0;
}

#admin-interface .editable-text span.label {
    display: block;
    background: transparent;
    color: #666;
    text-transform: uppercase;
    white-space: normal;
    margin-top: 0.85em;
    margin-bottom: 0.45em;
    padding: 0 0.25em;
}

.hidden-password {
  background-color: #374548;
  color: #374548;
}

#admin-interface #manage-answers table tbody td.image-preview img {
    height: 30px;
    width: auto;
}

#admin-interface #manage-answers table tbody td.image-preview span:empty {
    display: inline-block;
    background: #fff;
    border: 1px solid #ddd;
    height: 30px;
    width: 30px;
}

#admin-interface #manage-answers table tbody td span.answer-label {
    display: inline-block;
    width: 4px;
    height: 16px;
    margin-right: 1px;
}

#admin-interface #leaderboard ol.scores {
  font-size: 1.25rem;
}

#admin-interface #leaderboard ol.scores em {
  font-size: 0.85rem;
  font-style: normal;
}

/* Admin Django forms
*/

#admin-interface .post-form span.helptext {
    display: block;
    margin-top: -0.5rem;
    font-size: 0.9125rem;
    line-height: 1.2;
    color: #718387ff; 
}

#admin-interface .post-form input[type=checkbox] + span.helptext {
    margin-top: 0;
}

#admin-interface .post-form label {
    font-size: 100%;
}

#admin-interface .post-form label[for=id_open],
#admin-interface .post-form label[for=id_public],
#admin-interface .post-form label[for=id_featured],
#admin-interface .post-form label[for=id_question_template],
#admin-interface .post-form label[for=id_intro_template],
#admin-interface .post-form label[for=id_tutorial] {
    display: none;
}

#admin-interface .post-form label[for=id_open],
#admin-interface .post-form label[for=id_public],
#admin-interface .post-form label[for=id_featured],
#admin-interface .post-form label[for=id_tutorial_enabled],
#admin-interface .post-form label[for=id_telegram_active],
#admin-interface .post-form label[for=id_telegram_enabled] {
    display: inline-block;
    margin-right: 0.5em;
}

#admin-interface .post-form input#id_open,
#admin-interface .post-form input#id_tutorial_enabled,
#admin-interface .post-form input#id_telegram_active,
#admin-interface .post-form input#id_telegram_enabled {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: baseline;
}

#admin-interface .post-form select {
    height: auto;
}

#admin-interface .post-form p.form-actions {
    margin-bottom: 4rem;
    padding-top: 2rem;
    border-top: 1px solid #ddd;
}

#admin-interface .post-form p.form-actions .button {
    font-weight: bold;
}

#admin-interface .post-form ul.inline-list {
    margin-right: 0.5em;
}

#admin-interface .post-form ul.inline-list li {
    min-width: 16px;
    margin-right: 0.25em;
    margin-left: 0;
}

#admin-interface .post-form ul.inline-list li i {
    margin-right: 0;
}

#admin-interface .post-form ul.inline-list li.remove {
    text-align: center;
}

#admin-interface .post-form ul.inline-list li.drag-handle i {
    margin-right: 1px;
}

#admin-interface .post-form a,
#admin-interface .post-form i {
     color: #26689a;
}

#admin-interface .post-form a:hover,
#admin-interface .post-form a:focus,
#admin-interface .post-form .drag-handle:hover i,
#admin-interface .post-form .drag-handle:focus i {
    color: #1e537b;
}

/* Media Queries
*/

@media screen and (max-width: 39.9375em) { /* Small only */
    .top-bar-title,
    #main-menu {
        display: block;
        width: 100%;
    }
    
    #admin-interface #sidebar-nav {
        height: auto;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        border-right: 0;
        border-bottom: 1px solid #f2f2f2;
    }

}

@media screen and (min-width: 64em) { /* Large and up */
  #admin-interface #main-content.cell {
    max-width: 70%;
  }

  #admin-interface #embed-code textarea {
      max-width: 50%;
  }
  
  .message-box .message .button-group .button {
      white-space: nowrap;
  }

}

/* Preventing FOUC
*/

.no-js .top-bar {
  display: none;
}

.nonmobile .mobileonly {
  display: none; }

.js .js-hide, .js .hideonjs {
  display: none !important; }

.no-js .jsonly {
  display: none !important; }



@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}
