.list-complete-item {
  transition: all 0.5s;
}

.list-complete-enter, .list-complete-leave-to {
  opacity: 0;
}

.list-complete-leave-active {
  position: absolute;
}

.drag-handle { cursor: move; }

