/*
 * based in HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
  font-family: 'Libre Franklin';
  font-weight: 900;
  font-style: normal;
  src: local('Libre Franklin Black'), url('../fonts/LibreFranklin/LibreFranklin-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Catamaran';
  font-weight: 300;
  font-style: normal;
  src: local('Catamaran Light'), url('../fonts/Catamaran/Catamaran-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Catamaran';
  font-weight: 400;
  font-style: normal;
  src: local('Catamaran Regular'), url('../fonts/Catamaran/Catamaran-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Catamaran';
  font-weight: 700;
  font-style: normal;
  src: local('Catamaran Bold'), url('../fonts/Catamaran/Catamaran-Bold.ttf') format('truetype');
}




/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	vertical-align: baseline;
}

html,
button,
input,
select,
textarea {
    color: #374548;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    font-size: 100%;
  	text-rendering: optimizeLegibility;
    font-family: "Catamaran", Roboto, "DejaVu Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4;
	background: #ddd url(../img/texture.png) repeat 0 0;
}

::-moz-selection {
    background: #b4af92;
    text-shadow: none;
}

::selection {
    background: #b4af92;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Custom styles
   ========================================================================== */


h1, h2, h3, h4, h5, h6 {
  font-family: "Catamaran", Roboto, "DejaVu Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

strong {
  font-family: "Catamaran", Roboto, "DejaVu Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

em {
  font-family: "Catamaran", Roboto, "DejaVu Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	color: #590a0a;
}

a {
	color: #f59838;
	text-decoration: none;
}

a:hover {
	color: #b31515;
}

section {
	padding: 50px 0 30px;
	border-bottom: 1px solid #fff;
}

.wrap::before, .wrap::after {
    content: " ";
    display: table;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.wrap::after {
    clear: both;
}

.wrap {
    margin: 0 auto;
    max-width: 62.5rem;
    width: 100%;
}

h1 {
	  font-family: "Libre Franklin", Roboto, "DejaVu Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    margin-bottom: 0.65rem;
}

.wrap h2 {
	padding: 0 0 16px;
	margin: 0 0 16px;
}

.wrap h3 {
	padding: 0 0 12px;
  font-family: "Catamaran", Roboto, "DejaVu Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrap p {
	margin: 0 0 15px;
	font-size: 1rem;
	line-height: 1.3;
}

.showcase .slider {
    width: 100%;
    margin-top: 20px;
}

.slider-nav .slick-slide {
    max-height: 100px;
    overflow: hidden;
    border: 1px solid #444;
    margin:  0 10px 20px;
}

.slider-detail {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

.slider-detail div::before, 
.slider-detail div::after {
    content: " ";
    display: table;
}

.slider-detail div::after {
    clear: both;
}

/*
.slider-detail .slick-slide img,
.slider-detail .slick-slide p {
    width: 100%;
    position: relative;
    float: left;
}*/

.slider-detail .slick-slide img {
    display: inline-block;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
/*    width: 66.6667%;*/
    height: auto;
}

.slider-detail .slick-slide p {
/*    width: 33.3333%;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;*/
}

.slider-detail .slick-slide strong,
.slider-detail .slick-slide span {
    display: block;
    margin-bottom: 0.5rem;
}

.slider-detail .slick-slide strong {
  font-size: 2rem;
  font-family: "Catamaran", Roboto, "DejaVu Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

