<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Taskforce{% endblock title %}</title>
    <meta name="description" content="{% block description %}{% endblock description %}">
    {% block headmeta %}{% endblock %}

    <link rel="stylesheet" href="/static/vendor/css/foundation.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/fonts/foundation-icons/foundation-icons.css">
    {% block styles %}{% endblock %}

    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
  </head>
  <body>
    {% block content %}{% endblock %}

    <script src="/static/vendor/js/jquery-3.2.1.min.js"></script>
    <script src="/static/vendor/js/foundation.js"></script>
    <script src="/static/js/app.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
