<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <title>Taskforce &ndash; Open Campaigns</title>
      <meta name="description" content="Crowd-driven campaings via messaging">
      
      <link rel="stylesheet" href="/static/vendor/css/foundation.css">
      <link rel="stylesheet" href="/static/css/app.css">
    
      <link rel="shortcut icon" href="/static/images/favicon.png">
  </head>
  <body>
      <!-- prevents mobile menu from loading -->
        <script type="text/javascript">
          if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
            document.documentElement.className += "mobile js";
          } else {
            document.documentElement.className = "nonmobile js";      
          }
       </script>
        <div id="navigation" class="top-bar">
              <div class="top-bar-title">
                    <span data-responsive-toggle="main-menu" data-hide-for="medium">
                        <button class="menu-icon dark" type="button" data-toggle></button>
                    </span>
                    <strong class="logo">
                      <a href="/">
                        <img src="/static/images/taskforce-logo.svg" onerror="this.src='/static/images/taskforce-logo.png'" alt="Taskforce">
                        Taskforce
                    </a>
                    </strong>
              </div><!-- /.top-bar-title -->
              <div  id="main-menu">
                    <div class="top-bar-right">
                          <ul class="menu vertical medium-horizontal">                        
                            {% with view = request.resolver_match.view_name %}
                            <li class="signup{% if view == 'campaigns' %} active{% endif %}">
                                <a href="{% url 'campaign_list' %}">Campaigns</a>
                            </li>
                            {% endwith %}
                          </ul>
                    </div><!-- /.top-bar-right -->
              </div><!-- /#main-menu -->
        </div><!-- /.top-bar #navigation -->
        
        <section class="grid-container">
          <div class="grid-x grid-margin-x">
            <div class="cell small-12">
              <h2>{{ campaign.title }}</h2>
              <p class="lead">{{ campaign.tagline }}</p>
            </div>

            <div class="cell small-12">
              <p>{% markdown %}{{ campaign.description }}{% endmarkdown %}</p>
              <p><a class="button highlight hollow large" href="{% url 'chat' campaign.name %}">Start contributing!</a></p>
            </div>
          </div>
        </section>
        
        <section class="grid-container">
          <div class="grid-x grid-margin-x">
            <h3 class="cell small-12">Leaderboard</h3>
            <ol class="cell small-12">
              {% for cs in leaderboard %}
              <li>{{ cs.user.username }}: {{ cs.points }} ({{ answers.filter(user=cs.user).count() }} answers)</li>
              {% endfor %}
            </ol>
            {% if not leaderboard %}
            <p class="cell small-12">No registered users have contributed to the campaign yet.</p>
            {% endif %}

            <p class="cell small-12 text-center">
              <a class="button" href="{% url 'campaign_list' %}">Back to the campaign list</a>
              <a class="button" href="{% url 'index' %}">Back to the index</a>
            </p>
          </div>
        </section>

        <footer id="footer" class="grid-container">
          <div class="grid-x grid-margin-x">
          </div>
        </footer><!-- /#footer -->
  
    <script src="/static/vendor/js/jquery-3.2.1.min.js"></script>
    <script src="/static/vendor/js/foundation.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
