{% extends "base.html" %}

{% block title %}
{{ campaign.title }}
{% endblock title %}

{% block description %}
{{ campaign.description }}
{% endblock description %}

{% block content %}
<div id="{{ campaign.name }}" class="campaign-wrapper">
    <!-- prevents mobile menu from loading -->
    <script type="text/javascript">
      if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
        document.documentElement.className += "mobile js";
      } else {
        document.documentElement.className = "nonmobile js";      
      }
   </script>
  <div id="navigation" class="top-bar">

    {% if campaign %}
      <div class="top-bar-title">
        <span data-responsive-toggle="main-menu" data-hide-for="medium">
          <button class="menu-icon dark" type="button" data-toggle></button>
        </span>
        <strong class="logo">
          <a href="/">
            <img src="/static/images/taskforce-logo.svg" onerror="this.src='/static/images/taskforce-logo.png'" alt="Taskforce">
          </a>
          {{ campaign.title }}
        </strong>
      </div><!-- /.top-bar-title -->
      <div  id="main-menu">
        <div class="top-bar-right">
          <ul class="menu vertical medium-horizontal">                        
            {% with view = request.resolver_match.view_name %}
            <li class="signup{% if view == 'campaigns' %} active{% endif %}">
                <a href="{% url 'campaign_list' %}">Campaigns</a>
            </li>
            {% endwith %}
          </ul>
        </div><!-- /.top-bar-right -->
      </div><!-- /#main-menu -->
    {% else %}
      <div class="top-bar-title">
        <span data-responsive-toggle="main-menu" data-hide-for="medium">
          <button class="menu-icon dark" type="button" data-toggle></button>
        </span>
        <strong class="logo">
          <img src="/static/images/taskforce-logo.svg" onerror="this.src='/static/images/taskforce-logo.png'" alt="Taskforce">
          Config index
        </strong>
      </div><!-- /.top-bar-title -->
    {% endif %}
  </div><!-- /.top-bar #navigation -->
  <div class="main-wrapper">
    <div id="chat-wrapper">
      <div id="chat-area" class="grid-container"></div>
    </div>
    <div id="input-area">
      <div class="grid-container">
        <form id="input-form" method="post">{{ csrf_input }}
          <div>
            <!-- see http://html5pattern.com/#comment-3242639997 for an explanation of this 'pattern' attribute -->
            <!-- <input type="text" name="message" id="input-box" autocomplete="off" placeholder="type here" required pattern="(?=.*([\w]).*)[ \w]+" title="Please type something." autofocus> -->
            <input type="text" name="message" id="input-box" autocomplete="off" placeholder="type here" required title="Please type something." autofocus>
            <input type="hidden" name="msgid" id="msgid-field">
            <input type="hidden" name="questionid" id="questionid-field">
            <div id="extra-fields"></div>
          </div>
        </form>
      </div>
    </div><!-- /#input-area -->
  </div><!-- /.main-wrapper -->   
</div><!-- /#campaign-name .campaign-wrapper -->
{% endblock content %}

{% block scripts %}    
<script>
$('#chat-area').scrollTop(
   $('#chat-area')[0].scrollHeight
);
</script>
<script src="/static/vendor/js/jquery.form.min.js"></script>
<script src="/static/vendor/js/markdown-it.min.js"></script>
<script src="/static/vendor/js/markdown-it-emoji.min.js"></script>
<script src="/static/vendor/js/jquery.emoji.min.js"></script>
<script src="/static/js/utils.js"></script>
<script>
  // lowercase name for urls
  var bot_name = "{{ campaign.name }}";
</script>
<script src="/static/js/settings.js"></script>
<script src="/static/js/main.js"></script>
{% endblock scripts %}
