<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <title>Taskforce</title>
      <meta name="description" content="Crowd-driven campaings via messaging">
      
      <link rel="stylesheet" href="/static/vendor/css/foundation.css">
      <link rel="stylesheet" href="/static/css/app.css">
    
      <link rel="shortcut icon" href="/static/images/favicon.png">
  </head>
  <body>
    <!-- prevents mobile menu from loading -->
    <script type="text/javascript">
      if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
        document.documentElement.className += "mobile js";
      } else {
        document.documentElement.className = "nonmobile js";      
      }
   </script>
        <div id="navigation" class="top-bar">
          <div class="top-bar-title">
                <span data-responsive-toggle="main-menu" data-hide-for="medium">
                    <button class="menu-icon dark" type="button" data-toggle></button>
                </span>
                <strong class="logo">
                    <a href="/">
                      <img src="/static/images/taskforce-logo.svg" onerror="this.src='/static/images/taskforce-logo.png'" alt="Taskforce">
                      Taskforce
                    </a>
                </strong>
          </div><!-- /.top-bar-title -->
          <div  id="main-menu">
                <div class="top-bar-right">
                      <ul class="menu vertical medium-horizontal">
                        {% with view = request.resolver_match.view_name %}
                        {#
                          <li{% if view == 'about' %} class="active"{% endif %}>
                            <a href="">About</a>
                          </li>
                          <li{% if view == 'contact' %} class="active"{% endif %}>
                            <a href="">Contact</a>
                          </li>
                          <li class="signup{% if view == 'signup' %} active{% endif %}">
                            <a href="">Signup</a>
                          </li>
                          <li{% if view == 'login' %} class="active"{% endif %}>
                            <a href="">Login</a>
                          </li>
                        #}
                        <li class="signup{% if view == 'campaigns' %} active{% endif %}">
                            <a href="{% url 'campaign_list' %}">Campaigns</a>
                        </li>
                        {% endwith %}
                      </ul>
                </div><!-- /.top-bar-right -->
          </div><!-- /#main-menu -->
        </div><!-- /.top-bar #navigation --> 
            
        <section id="intro">
          <div class="grid-container">
            <header class="grid-x grid-margin-x">
              <div class="cell small-12">
                <p class="logo"><img src="/static/images/taskforce-logo.svg" alt="Taskforce"></p>
                <h1>Taskforce</h1>
                <h2>Crowdsource newsroom tasks <br>with messaging interfaces</h2>
                <!--
                <p class="call-action">
                    <a class="button highlight large" href="">Try it now</a>
                    <a class="button highlight large" href="">Signup</a>
                </p>
                -->
              </div>
            </header>
          </div>          
        </section><!-- /#intro -->


        <section class="features grid-container">
          <div class="grid-x grid-margin-x">
            <h2 class="cell small-12 text-center">Newsroom crowdsourcing?</h2>
            <div class="cell small-12 medium-6">
                <h3>Some investigations require a crowd</h3>
                <p>When you have a trove of documents to go through, or a pile of photos to identify, it can be too much work for one person. However, dividing work among a team can be challenging.</p>
            </div>
            <div class="cell shrink">
                <p class="image">
                    <img src="/static/images/home-01.png" alt="image title">
                </p>
            </div>
          </div>
        </section><!-- /.features -->

        <section class="features grid-container">
          <div class="grid-x grid-margin-x">
            <div class="cell shrink">
                <p class="image">
                    <img src="/static/images/home-02.png" alt="image title">
                </p>
            </div>
            <div class="cell small-12 medium-4">
                <h3>Forms and spreadsheets are boring</h3>
                <p>Having people input data into a shared spreadsheet or a web form can feel mindless, impersonal and cumbersome.</p>
            </div>
          </div>
        </section><!-- /.features -->

        <section class="features grid-container">
          <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-4">
                <h3>Your audience could help</h3>
                <p>Your publication already has a community of readers. Involving them in your investigation can improve engagement and greatly speed up the task. But if the contribution process is complex, people will quickly lose interest.</p>
            </div>
            <div class="cell shrink">
                <p class="image">
                    <img src="/static/images/home-03.png" alt="image title">
                </p>
            </div>
          </div>
        </section><!-- /.features -->


        <section class="features grid-container">
          <div class="grid-x grid-margin-x">
            <h2 class="cell small-12 text-center">Meet Taskforce</h2>
            <p class="cell small-12 lead">Taskforce is a crowdsourcing platform designed for newsroom data gathering tasks, with a special focus on a frictionless interface for contributions.</p>
            <div class="cell shrink">
                <p class="image">
                    <img src="/static/images/home-04.png" alt="image title">
                </p>
            </div>
            <div class="cell small-12 medium-4">
                <h3>Everyone is familiar with messaging</h3>
                <p>And that’s why our main feature is a messaging-based UI for contributions. Signup, login, tutorials and actual tasks all take place in a chat interface, doing away with most of the teaching required to get people on with the work. Non-technical contributors will feel right at home with the user-friendly interface, so that it doesn’t feel like work.</p>
            </div>
          </p>
        </section><!-- /.features -->

        <section class="features grid-container">
          <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-4">
                <h3>No need to install anything</h3>
                <p>That’s right, no special apps or plugins necessary. Contributors can access your campaign immediately through a clean browser interface or messaging apps. We currently support Telegram, with others to follow.</p>
            </div>
            <div class="cell shrink">
                <p class="image">
                    <img src="/static/images/home-05.png" alt="image title">
                </p>
            </div>
          </div>
        </section><!-- /.features -->

        <section class="features grid-container">
          <div class="grid-x grid-margin-x">
            <div class="cell shrink">
                <p class="image">
                    <img src="/static/images/home-06.png" alt="image title">
                </p>
            </div>
            <div class="cell small-12 medium-4">
                <h3>Points & Leaderboards</h3>
                <p>Everyone loves quick, meaningful feedback. Contributors can gauge their progress through their score, and compare their contributions with others’ in public campaign leaderboards. It’s also rather simple to feature these leaderboards in your own site.</p>
            </div>
          </div>
        </section><!-- /.features -->

        <section class="features grid-container">
          <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-4">
                <h3>Tutorials</h3>
                <p>Need to explain some details beforehand? We’ve built a tutorial editor so that new users can get to grips with the intricacies of your task before starting out. All inside our chat interface, of course.</p>
            </div>
            <div class="cell shrink">
                <p class="image">
                    <img src="/static/images/home-07.png" alt="image title">
                </p>
            </div>
          </div>
        </section><!-- /.features -->

        <section class="features grid-container">
          <div class="grid-x grid-margin-x">
            <div class="cell shrink">
                <p class="image">
                    <img src="/static/images/home-08.png" alt="image title">
                </p>
            </div>
            <div class="cell small-12 medium-4">
                <h3>Keep it in the newsroom or involve your audience</h3>
                <p>Your campaign can be restricted to your team or made available to anyone through public links. Just publish the public links we provide in your campaign management panel, and anyone can dive in and start contributing.</p>
            </div>
          </div>
        </section><!-- /.features -->

        <section class="features grid-container">
          <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-4">
                <h3>Simple administration</h3>
                <p>A web-based administration dashboard gives you all the tools necessary to get started, fine tune your campaign and follow its progress. Easily manage conflicting answers, review participants’ contributions and export final results.</p>
            </div>
            <div class="cell shrink">
                <p class="image">
                    <img src="/static/images/home-09.png" alt="image title">
                </p>
            </div>
          </div>
        </section><!-- /.features -->
        
        <section id="open-campaigns" class="grid-container">
          <div class="grid-x grid-margin-x">
            <h2 class="cell text-center">Featured campaigns</h2>

            <div class="campaigns cell small-12"><div class="grid-container">
              <div class="grid-x grid-margin-x">
                {% for campaign in featured_campaigns %}
                <a class="cell large-auto" href="{% url 'campaign_detail' campaign.name %}">
                  <h3>{{ campaign.title }}</h3>
                  <p>{{ campaign.tagline }}</p>
                </a>
                {% endfor %}
              </div>
            </div></div>

            <div class="cell small-12 text-center">
              <p><a class="button" href="{% url 'campaign_list' %}">See all public campaigns</a></p>
            </div>
          </div>
        </section><!-- /#open-campaigns -->

        <section id="howitworks" class="grid-container">
          <div class="grid-x grid-margin-x text-center">
            <h2 class="cell">Interested?</h2>
            <p class="cell">Type in your e-mail address and we'll get in touch.</p>
            <form class="cell small-12 medium-8 medium-offset-2" action="https://formspree.io/ricardo@jplusplus.org" method="post" accept-charset="UTF-8">
              <div class="input-group">
                <input name="email" type="email" class="textbox input-group-field" value="E-mail">
                <div class="input-group-button"><input class="button" type="submit" value="Send"></div>
              </div>
            </form>

          </div>
        </section><!-- /#howitworks -->

        <footer id="footer" class="grid-container">
          <div class="grid-x grid-margin-x">
          </div>
        </footer><!-- /#footer -->
  
    <script src="/static/vendor/js/jquery-3.2.1.min.js"></script>
    <script src="/static/vendor/js/foundation.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
